* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    background: #d0cbcb;
}

head {
    display: none;
}

.haeder-address-book {
    position: fixed;
    width: 1440px;
    height: 90px;
    top: 0px;
    background: #6238bc;
}

.haeder-address-book__h1 {
    position: absolute;
    width: 400px;
    height: 60px;
    left: 20px;
    top: 6px;
    margin: 0;
    font-family: "Uindbase Font 1";
    font-weight: 400;
    font-size: 55px;
    color: #ffffff;
}

.main-address-book {
    position: fixed;
    width: 1440px;
    margin: 0px 0px 0px 0px;
    height: 90vh;
    background: #ffffff;
    top: 80px;
}

.aside-address-book {
    position: relative;
    width: 266px;
    height: 457px;
    top: 47px;
    border-right: 3px solid #b7b1b1;
}

.aside-address-book__h2 {
    position: absolute;
    left: 25px;
    font-family: "Uindbase Font 1";
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
}

.aside-address-book__container-lincs {
    position: absolute;
    left: 14px;
    top: 64px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.aside-address-book__margin-lincs {
    margin: 14px;
}

.aside-address-book__lincs {
    font-family: "Uindbase Font 1";
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: underline;
    color: #f29538;
}

.section-addres-book {
    position: absolute;
    width: 1145px;
    height: 699px;
    left: 293px;
    top: 55px;
}

.section-addres-book__scroll {
    position: absolute;
    overflow-y: scroll;
    width: 1145px;
    height: 796px;
    top: 0px;
    left: 0px;
}

.section-addres-book__capital-letter-a {
    position: sticky;
    width: 1123px;
    height: 41px;
    left: 469px;
    top: 0px;
    margin: 0;
    color: #ffffff;
    font-family: "Uindbase Font 1";
    font-weight: 400;
    font-size: 38px;
    line-height: 39px;
    padding-left: 11px;
    background: #6238bc;
}
.section-addres-book__container-text {
    list-style-type: none;
    width: 132px;
    height: max-content;
    left: 13px;
    top: 54px;
    padding-left: 19px;
    padding-top: 61px;
    margin: 0;
    font-family: "Uindbase Font 1";
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
}

.section-addres-book__capital-letter-a_b {
    position: sticky;
    background: #6238bc;
}

.section-addres-book__capital-letter-a_v {
    position: sticky;
    background: #6238bc;
}