* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

main {
}

@media screen and (min-width: 769px) {

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(80 / 1440 * 100vw);
    font-family: 'Inter';
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    
.header__logo {
    width: calc(222 / 1440 * 100vw);
    height: calc(50 / 1440 * 100vw);
    margin-top: calc(18 / 1440 * 100vw);
    margin-left: calc(30 / 1440 * 100vw);
    margin-bottom: calc(12 / 1440 * 100vw);
}
    
.header__logo-title {
    margin-top: calc(21 / 1440 * 100vw);
    margin-left: calc(30 / 1440 * 100vw);
    margin-bottom: calc(15 / 1440 * 100vw);
    line-height: calc(44 / 1440 * 100vw);
    font-size: calc(36 / 1440 * 100vw);
    font-weight: 700;
    font-style: normal;
    color: #787878;
}
    
.header__link-registration {
    margin-left: auto;
    font-size: calc(24 / 1440 * 100vw);
    font-weight: 700;
    font-style: normal;
    color: #1A226B;
    text-decoration: none;
}
    
.header__link-login {
    margin-left: calc(28/ 1440 * 100vw);
    margin-right: calc(43 / 1440 * 100vw);
    font-size: calc(24 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
    text-decoration: none;
}
    
.header-link {
    margin-left: auto;
    text-align: end;
}

.form {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: calc(125 / 1440 * 100vw);
    left: calc(403 / 1440 * 100vw);
    width: calc(600 / 1440 * 100vw);
    height: calc(383 / 1440 * 100vw);
    background: #ffffff;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25); 
}

.form__title {
    position: absolute;
    text-align: center;
    top: calc(26 / 1440 * 100vw);
    left: calc(242 / 1440 * 100vw);
    font-size: calc(50 / 1440 * 100vw);
    line-height: calc(50 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
}

.form__email-label {
    position: absolute;
    height: calc(16/ 1440 * 100vw);
    top: calc(93 / 1440 * 100vw);
    padding-left: calc(53 / 1440 * 100vw);
    margin-bottom: calc(3 / 1440 * 100vw);
    font-size: calc(16/ 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
}

.form__email-input {
    position: absolute;
    top: calc(112 / 1440 * 100vw);
    left: calc(45 / 1440 * 100vw);
    width: calc(509 / 1440 * 100vw);
    height: calc(49 / 1440 * 100vw);
    margin: 0 auto;
    border: 2px solid #787878;
    font-weight: 700;
    color: #787878;
    padding-left: calc(15 / 1440 * 100vw);
    font-size: calc(28 / 1440 * 100vw);
    line-height: calc(36 / 1440 * 100vw);
}

.form__email-input::placeholder {
    margin-left: calc(15 / 1440 * 100vw);
    color:#CCCCCC;
}

.form__email-input:focus {
    outline: #787878 none;
}

.form__password-label {
    position: absolute;
    height: calc(16/ 1440 * 100vw);
    top: calc(172 / 1440 * 100vw);
    padding-left: calc(53 / 1440 * 100vw);
    font-size: calc(16/ 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
}

.form__password-input {
    position: absolute;
    top: calc(193 / 1440 * 100vw);
    left: calc(45 / 1440 * 100vw);
    width: calc(509 / 1440 * 100vw);
    height: calc(49 / 1440 * 100vw);
    padding-left: calc(15 / 1440 * 100vw);
    border: 2px solid #787878;
    font-weight: 700;
    color: #787878;
    font-size: calc(28 / 1440 * 100vw);
    line-height: calc(36 / 1440 * 100vw);
}

.form__password-input::placeholder {
    color: #CCCCCC;
}
.form__password-input:focus {
    outline: #787878 none;
}

.form__button {
    position: absolute;
    height: calc(52 / 1440 * 100vw);
    width: calc(180/ 1440 * 100vw);
    left: calc(210 / 1440 * 100vw);
    top: calc(294 / 1440 * 100vw);
    background: #1A226B;
    border: none;
    font-size: calc(24 / 1440 * 100vw);
    font-weight: 700;
    color: #FFFFFF
}
}

@media screen and (max-width: 768px) {

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(80 / 768 * 100vw);
    font-family: 'Inter';
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
        
.header__logo {
    width: calc(222 / 768 * 100vw);
    height: calc(50 / 768 * 100vw);
    margin-top: calc(18 / 768 * 100vw);
    margin-left: calc(30 / 768 * 100vw);
    margin-bottom: calc(12 / 768 * 100vw);
}
        
.header__logo-title {
    margin-top: calc(21 / 768 * 100vw);
    margin-left: calc(30 / 768 * 100vw);
    margin-bottom: calc(15 / 768 * 100vw);
    line-height: calc(44 / 768 * 100vw);
    font-size: calc(36 / 768 * 100vw);
    font-weight: 700;
    font-style: normal;
    color: #787878;
}
        
.header__link-registration {
    margin-left: auto;
    font-size: calc(24 / 768 * 100vw);
    font-weight: 700;
    font-style: normal;
    color: #1A226B;
    text-decoration: none;
}
        
.header__link-login {
    margin-left: calc(28/ 768 * 100vw);
    margin-right: calc(43 / 768 * 100vw);
    font-size: calc(24 / 768 * 100vw);
    font-weight: 700;
    color: #787878;
    text-decoration: none;
}
        
.header-link {
    margin-left: auto;
    text-align: end;
}
    
.form {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: calc(160 / 768 * 100vw);
    left: calc(403 / 768 * 100vw);
    width: calc(600 / 768 * 100vw);
    height: calc(383 / 768 * 100vw);
    background: #ffffff;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25); 
}
    
.form__title {
    position: absolute;
    text-align: center;
    top: calc(26 / 768 * 100vw);
    left: calc(242 / 768* 100vw);
    font-size: calc(50 / 768 * 100vw);
    line-height: calc(50 / 768 * 100vw);
    font-weight: 700;
    color: #787878;
}

.form__email-label {
    position: absolute;
    height: calc(16/ 768 * 100vw);
    top: calc(93 / 768 * 100vw);
    padding-left: calc(53 / 768 * 100vw);
    margin-bottom: calc(3 / 768 * 100vw);
    font-size: calc(16/ 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
    font-weight: 700;
    color: #787878;
}
    
.form__email-input {
    position: absolute;
    top: calc(112 / 768 * 100vw);
    left: calc(45 / 768 * 100vw);
    width: calc(509 / 768 * 100vw);
    height: calc(49 / 768 * 100vw);
    margin: 0 auto;
    border: 2px solid #787878;
    font-weight: 700;
    color: #787878;
    padding-left: calc(15 / 768 * 100vw);
    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);
}
    
.form__email-input::placeholder {
    margin-left: calc(15 / 768 * 100vw);
    color:#CCCCCC;
}
    
.form__email-input:focus {
    outline: #787878 none;
}
    
.form__password-label {
    position: absolute;
    height: calc(16/ 768 * 100vw);
    top: calc(174 / 768 * 100vw);
    padding-left: calc(53 / 768 * 100vw);
    font-size: calc(16/ 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
    font-weight: 700;
    color: #787878;
}
    
.form__password-input {
    position: absolute;
    top: calc(193 / 768 * 100vw);
    left: calc(45 / 768 * 100vw);
    width: calc(509 / 768 * 100vw);
    height: calc(49 / 768 * 100vw);
    padding-left: calc(15 / 768 * 100vw);
    border: 2px solid #787878;
    font-weight: 700;
    color: #787878;
    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);
}
    
.form__password-input::placeholder {
    color: #CCCCCC;
}
.form__password-input:focus {
    outline: #787878 none;
}
    
.form__button {
    position: absolute;
    height: calc(52 / 768 * 100vw);
    width: calc(180/ 768 * 100vw);
    left: calc(210 / 768 * 100vw);
    top: calc(294 / 768 * 100vw);
    background: #1A226B;
    border: none;
    font-size: calc(24 / 768 * 100vw);
    font-weight: 700;
    color: #FFFFFF
}
}